{% extends 'AdminMaster.html' %}
{% block am %}

<form class="b" onSubmit="return A()" method="post" action="adminreg">
<h4 style="text-align:center; padding-top:10px;">Admin Registration</h4>
<table  style="margin:0 auto ;font-size:20px;">
<tr>
<td>Name-</td><td><input type="text" id="txt1" name="T1" /><span id="txt1_err"></span></td></tr>
<tr>
<td>Address-</td><td><input type="text" id="txt2" name="T2" /><span id="txt2_err"></span></td>
</tr>
<tr>
<td>Contact-</td><td><input type="text" id="txt3" name="T3"/><span id="txt3_err" ></span></td>
</tr>
<tr><td>Email-</td><td><input type="email" id="txt4" name="T4" /><span id="txt4_err"></span></td></tr>
<tr><td>Password-</td><td><input type="text" id="txt5" name="T5"/><span id="txt5_err"></span></td></tr>
<tr><td>Confirm Password-</td><td><input type="text" id="txt6" name="T6"/><span id="txt6_err"></span></td></tr></table>
<p style="text-align:center; padding-top:20px; font-size:18px;"><input class="c" type="submit" id="btn1" name="B1" value="Register" /></p>
</form>

{% if kota %}
    <h3>{{kota}}</h3>
{% endif %}
<script>
    function A()
	{
		var t1=document.getElementById("txt1");
		var s1=document.getElementById("txt1_err");
		var t2=document.getElementById("txt2");
		var s2=document.getElementById("txt2_err");
		var t3=document.getElementById("txt3");
		var s3=document.getElementById("txt3_err");
		var t4=document.getElementById("txt4");
		var s4=document.getElementById("txt4_err");
		var t5=document.getElementById("txt5");
		var s5=document.getElementById("txt5_err");
		var t6=document.getElementById("txt6");
		var s6=document.getElementById("txt6_err");
		
		
		var a=t1.value;	
		var b=t2.value;
		var c=t3.value;
		var d=t4.value;
		var e=t5.value;
		var f=t6.value;
		
		
		s1.innerHTML="";
		s2.innerHTML="";
		s3.innerHTML="";
		s4.innerHTML="";
		s5.innerHTML="";
		s6.innerHTML="";
		
		
		if(a==null|| a=="")
		{
			s1.innerHTML="*";
			t1.focus();
			return false;
		}
		else if(IsAlpha(a)==false)
		{
			s1.innerHTML="Only Alphabets";
			t1.select();
			return false;
		}
		else if(b==null || b=="")
		{
			s2.innerHTML="*";
			t2.focus();
			return false;
		}
		else if(c==null || c=="")
		{
			s3.innerHTML="*";
			t3.focus();
			return false;
		}
		else if(IsNumeric(c)==false)
		{
			s3.innerHTML="Only Digits";
			t3.select();
			return false;
		}
		else if(d==null || d=="")
		{
			s4.innerHTML="*";
			t4.focus();
			return false;
		}
		else if(e==null || e=="")
		{
			s5.innerHTML="*";
			t5.focus();
			return false;
		}
		else if(f==null || f=="")
		{
			s6.innerHTML="*";
			t6.focus();
			return false;
		}
		else if(match_pass(e,f)==false)
		{
			s6.innerHTML="Not Match";
			t6.select();
			return false;
		}
		
	}
	
	
    function IsAlpha(ele)//only alphabets
    {
	    var sText=ele;
	
	    var flag=true;
	    var ch;
	
	    for(i=0;i<sText.length && flag==true;i++)
    	{
		    ch=sText.charAt(i);
		    if(!(ch>='a' && ch<='z' || ch>='A' && ch<='Z' || ch==' '))
		    {
			    flag=false;
		    }
	    } 
	    return flag;
    }

    function IsNumeric(ele)//Only numeric
    {
    	var sText=ele;
	
	    var f=true;
	    var ch;
	    for(i=0;i<sText.length && f==true; i++)
	    {
		    ch=sText.charAt(i);
		    if(!(ch>='0' && ch<='9'))
		    {
			    f=false;		
		    }
		}
		return f
    }

    function match_pass(ele1,ele2)//password and confirm password
    {
	    if(ele1!=ele2)
	    {
		    return false;
	    }
	    else
	    {
		    return true;
		}
    }
	
</script>
{% endblock %}