{% extends 'HospitalMaster.html' %}
{% block hm %}
<h2 style="padding-top:10px;">
    Profile
</h2><hr/>
{% if row %}
{% if photo=='no' %}
        <p><a href="hospitalphoto">Upload Photo</a> </p>
    {% else %}
        <img src="../static/photos/{{ photo }}" width="100" height="100" />
        <br/>
        <p><a href="change_hospitalphoto">Change Photo</a> </p>
{% endif %}
<p style="margin:0 auto ;font-size:20px;">
    Name - {{row[0]}} <br />
    Address - {{row[1]}} <br />
    Contact - {{row[2]}} <br />
    Email - {{row[3]}} <br />
    Emergency - {{row[4]}} <br />
    Emergencycontact - {{row[5]}} <br />
    AC - {{row[6]}} <br />
    No. AC - {{row[7]}} <br />
    No. General - {{row[8]}} <br />
    OPD - {{row[9]}} <br />
    Surgery - {{row[10]}} <br />
    Specialised - {{row[11]}} <br />
</p>

{% endif %}
 <form style=" padding-top:20px; font-size:18px;" method="post" action="edit_hos">
     <input type="hidden" name="H1" value="{{row[3]}}"/>
     <input type="submit" name="B1" value="Edit"/>
 </form>

<p style=" font-size:18px;"><a href="cp_hospital"><input type="submit" id="btn1" name="B1" value="Change Password" /></a></p>

{% endblock %}