{% extends "Master.html" %}
{% block master %}


<form class="a" method="post" action="login" id="login">
<table style="margin:0 auto ;font-size:20px;">
<tr style="text-align:center">
<td>Email-</td><td><input class="input" type="text" name="T1" id="txt1"/></td></tr>
<tr><td>Password-</td><td><input class="input" name="T2" type="password" id="txt2"/></td></tr></table>
<p style="text-align:center; padding-top:20px; font-size:18px;"><input type="submit" id="btn1" value="Login"/></p>
</form>
{% endblock %}